/* The body has a default margin. Remove it via: */
html, body {
  margin: 0;
  padding: 0;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
box-sizing: border-box;
}


ul {
  list-style-type: none;
}

/* EDIT THIS? */
.container img{
  border-radius: 10px;
  max-width: 250px;
  height: auto;
}

.social-icons img {
  width: 50px;
  height: auto;
}
.text-tank {
  background-color: #f4f4f3;
  width: 388px;
  height: 444px;
  padding: 24px;
}
 /* remove underline from all links */
a {
  text-decoration: none;
}
h2 {
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}
p, a {
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-size: 17.5px;
}
p {
  margin: 0;
  line-height: 1.75rem;
}
.header-left img {
  width: 460px;
}