@font-face {
  font-family: 'AktivGrotesk';
  src: url(./fonts/AktivGrotesk-RegularT.ttf) format('truetype'),
       url(./fonts/AktivGrotesk-Regular.otf) format('opentype');
       font-weight: normal;
}
@font-face {
  font-family: 'AktivGrotesk';
  src: url(./fonts/AktivGrotesk-BoldT.ttf) format('truetype'),
       url(./fonts/AktivGrotesk-Bold.otf) format('opentype');
       font-weight: bold;
}
@font-face {
  font-family: 'Playfair';
  src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
       font-weight: normal;
}
/* The body has a default margin. Remove it via: */
html, body {
  margin: 0;
  padding: 0;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
box-sizing: border-box;
}

ul {
  list-style-type: none;
}
/* checkpoint commit */
.social-icons img {
  /* ADJUST SOCIAL MEDIA ICON SIZE */
  width: 30px;
  height: auto;
}

.text-tank {
  background-color: #f4f4f3;
  width: 388px;
  height: 475px;
  padding: 24px;
}
 /* remove underline from all links */
a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-family: 'AktivGrotesk', sans-serif;
  /* calls the bold font family */
  font-weight: bold;
  /* HEADER FONT */
  font-size: 44px;
  margin: 0;
  padding-bottom: 24px;
}
p, a {
  font-family: 'AktivGrotesk', sans-serif;
  font-size: 17.5px;
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
  line-height: 1.9rem;
}

.main-container {
  padding: 0px 38px;
}

.header-left img {
  /* ADJUST HOME LOGO IMAGE SIZE */
  width: 408px;
  height: auto;
}

header {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  /* HEADER LINKS GAP SPACING */
  gap: 18px;
}

/* .header-right li:hover {
  text-decoration: underline;
} */

.center-cropped {
  /* ADJUST PREVIEW IMAGES */
  border-radius: 5px;
  min-width: 240px;
  /* it is ok to manually set width and height because the background image only snaps to fit width */
  width: 288px;
  height: 173px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-cropped h2 {
  /* display: none; */
  font-family: 'Playfair', sans-serif;
  padding-bottom: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #7877e6;
}
/* the solution was to wrap the whole class of center cropped in an anchor tag so you can click on images with or without hover */
.center-cropped:hover h2 {
  width: inherit;
  height: inherit;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #7877e6;
  border-radius: inherit;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 11px;
}

.story {
  /* DONT TOUCH */
  padding: 42px 50px;
  display: flex;
  /* makes the paragraph block go more to the right */
  justify-content: center;
  flex-wrap: wrap;
  gap: 160px;
}

.story-image-back, .story-image-front {
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
}

.story-image-back {
  width: 488px;
  height: 468px;
  z-index: -1;
  position: relative;
}

.story-image-front {
  width: 338px;
  height: 358px;
  position: absolute;
  /* overlay in front */
  z-index: 1;
  margin: -284px 100px;
}


.story-right {
  padding-top: 105px;
  width: 438px;
  display: flex;
  flex-direction: column;
}

.overlay-tank {
  margin-bottom: 50px;
  margin: 0 auto;
}

.socials {
  display: flex;
  justify-content:  center;
  padding: 10px 0px 0px 0px;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
